.main {
    width: 80%;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 10px 0;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.4s ease-in-out;
}

.item:hover {
    background-color: #F5F5F5;
    transition: background-color 0.4s ease-in-out;
}

.item.hovered {
    background-color: rgba(255, 180, 0, 0.4);
    transition: background-color 1s ease-in-out;
}

.item.unhover {
    background-color: none;
    transition: background-color 1s ease-in-out;
}

.summary {
	width: 100%;
	display: flex;
}

.item-tags {
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
}

.image {
    background: grey;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-size: 100%;
    border: 1px solid grey;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item-title {
    font-size: 120%;
    font-weight: bold;
}

.information {
    flex: 1;
    margin-left: 10px;
    text-align: left;
}

.description {
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.button-container {
	display: flex;
        flex-wrap: wrap;
}

.button {
	cursor: pointer;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	max-width: 150px;
	padding: 5px;
	margin: 5px;
	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
       	-moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
}

.button:hover {
	background-color: #DDD;
}

.button.selected {
  background-color: lightgray;
}

.paper-info {
	display: flex;
}

.authors {
	color: #888;
	margin-top: 5px;
}

.year {
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.add-info {
	width: 100%;
	text-align: left;
	border-radius: 10px;
	margin-top: 0px;
	border: 1px solid transparent;
	padding: 0px 10px 0 10px;
	transition-property: margin-top, padding, border;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.add-info.visible {
	transition-property: margin-top, padding, border;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	margin-top: 10px;
	border: 1px solid lightgrey;
	padding: 10px;
}


.abstract {
  max-height: 0px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

.bibtex {
  max-height: 0px;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
}

pre {
    white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	margin: 0px;
}


.item-tags {
	display:flex;
	flex-wrap: wrap;
	font-weight: bold;
}

.tag {
	background-color: red;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	color: white;
	font-size: 70%;
	vertical-align: middle;
}

hr {
	width: 100%;
}

.authors-venue {
	flex: 1;
}

.anchor{
  display: block;
  position:relative;
  top:-40vh;
  visibility: hidden;
}

.paper-description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.venue {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-table {
	display: flex;
	flex-direction: column;
}

.info-item {
	display: flex;
	padding: 10px;
	border-radius: 10px;
}

.info-item:hover {
	background-color: #DDD;
}

.info-label {
	flex: 1;
	font-weight: bold;
	margin-right: 10px;
}

.info-description {
	color: #444;
	text-align: right;
}

.collapsible {
	max-height: 0px;
    	overflow: hidden;
}

.collapse-button {
	position: block;
	width:100%;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
    justify-content: center;
    align-items: center;
}

.collapse-button:hover {
    background-color: #F5F5F5;
}

.list-title {
	flex:1;
}

.collapse-icon {
  position:relative;
  width: 0px;
  font-size: 20px;
  left: -40px;
}

@media screen and (max-width: 700px) {
	.summary {
	    flex-direction: column;
	    align-items: center;
	}

	.information {
	    text-align: center;
	    margin-left: 0;
	    margin-top: 10px
	}

	.button-container {
	    justify-content: center;
	}

	.paper-info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.year {
		height: 50px;
		width: auto;
	}

	.anchor {
		top: -30vw;
	}

	.item-tags {
		justify-content: center;
	}

	.list-title {
		font-size: 90%;
	}
	.collapse-icon {
		font-size: 10px;
	}
}
