.main {
    width: 80%;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.image {
    background: grey;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-size: 100%;
    border: 1px solid grey;
}

.description {
    flex: 1;
    margin: 10px;
    text-align: left;
}

.item-title {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}

.item:hover {
    background-color: #DDD;
}

.information {
    height: 60px;
    overflow-y: auto;
}

.prestige .image {
    background-image: url("prestige.png");
}

@media screen and (max-width: 700px) {
	.item {
	    flex-direction: column;
	}

	.description {
	    text-align: center;
	}

	.information {
	    height: 100px;
	}
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.button {
	cursor: pointer;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	min-width: 100px;
	max-width: 150px;
	padding: 5px;
	margin: 10px;
}


.paper-info {
	display: flex;
	height: 90px;
	align-items: center;
}

.year {
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.button-container {
	display: flex;
}

.abstract {
	display: none;
	border-radius: 10px;
}

.bibtex {
	display: none;
}
