body, h1, h2 {font-family: "Raleway", Arial, sans-serif}
h1, h2 {letter-spacing: 6px}

div {
  -webkit-tap-highlight-color: transparent;
}

body {
	margin: 0 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

footer {
	width: 100%;
	padding-top: 5px;
}

header {
	width: 100%;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 10px;
}

.title {
	margin: 32px 0 32px 0;
}

.title-img{
	margin: 0 10px 0 10px;
	height: 100px;
	width: 100px;
}

.page-title {
	display: inline;
	margin: 10px 10px;
}

.topnav {
        opacity: 0;
	border: 1px solid lightgrey;
	overflow: hidden;
	min-width: 125px;
        border-radius: 5px;
  	position: relative;
  	display: flex;
}

.topnav.visible {
        opacity: 1;
        transition: opacity 1s ease-in-out;
}

.topnav-btn {
	padding: 8px 16px 8px 16px;
	text-align: left;
  	overflow:hidden;
  	cursor: pointer;
}

.topnav .icon {
	display: none;
    border-radius: 5px;
	padding: 8px 16px 8px 16px;
}

.content-div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.main {
        opacity: 0;
	padding-top: 15px;
	padding-bottom: 50px;
	flex: 1;
	max-width:1500px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
        transition: opacity 1s ease-in-out;
}

.main.visible {
        opacity: 1;
        transition: opacity 1s ease-in-out;
}


.topnav-wrapper {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 700px) {
  .topnav {
    width: 95%;
  	flex-direction: column;
  }

  .topnav .icon {
  	display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav-btn {
  	max-height: 0px;
  	padding: 0 16px 0 16px;
  	transition-property: max-height, padding;
  	transition-duration: 1s;
  	transition-timing-function: ease-in-out;
  	pointer-events: none;
  }

  .topnav.expanded .topnav-btn {
  	max-height: 50px;
  	padding: 8px 16px 8px 16px;
  	transition-property: max-height, padding;
  	transition-duration: 1s;
  	transition-timing-function: ease-in-out;
  	pointer-events: auto;
  }

  .topnav-btn.active {
  	max-height: 50px;
  	padding: 8px 16px 8px 16px;
  	transition-property: max-height, padding;
  	transition-duration: 1s;
  	transition-timing-function: ease-in-out;
  }
}

@media (hover: hover) and (pointer: fine) {
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
  .main a:hover {
  	opacity: 0.5;
  }

  .topnav-btn:hover {
    background-color: lightgray;
  }
} 

