.draw-wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.colorDiv {
	position: relative;
	margin: 0 auto;
	width: 30px;
	height: 20px;
	background-color: black;
	border-style: solid;
	border-width: 1px;
}

td, table,tr {
	text-align: center;
	margin: 0 auto;
}

.outer {
	border-style: solid;
	border-width: 1px;
}

canvas {
	margin-top: 40px;
	border-radius: 20px;
	width: 100%;
	border: 1px solid lightgrey;
}

.main {
	width: 100%;
}
