.profile-pic {
	opacity: 0;
	width: 100%;
	border-radius: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.fadein {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.img-wrapper {
	position: relative;
	width: 30%;
	padding-top: 40%;
	margin-right: 15px;
	float: left;
}

.button {
	cursor: pointer;
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 10px;
	min-width: 100px;
	max-width: 150px;
	padding: 5px;
	margin-right: 10px;
	margin: 0 auto;
	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
       	-moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
  	background-color: #DDD;
  }
}


@media screen and (max-width: 700px) {
	.profile-pic {
		min-width: 40%;
	}
}


@media screen and (max-width: 500px) {
	.profile-pic {
		min-width: 100%;
		margin-right: 0px;
		margin-bottom: 15px;
		padding: 15px;
		float: center;
	}
}
